

@media screen and (max-width:1680px){
    .contact-info {
        margin-top: 15px;
    }
}/*max-width:1680px*/

@media screen and (max-width:1440px){
    .hamburger {
        display: block;
    }
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: transparent;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
    }

    .nav.show {
        display: flex;
    }
    .nav li {
        margin: 10px 0;
    }
    .nav li a {
        font-size: 16px;
        font-weight: 400;
        padding: 10px 20px;
    }
    .nav-bar-brand {
        margin-left: 5rem;
    }
}/*max-width:1440px*/

@media screen and (max-width:1350px){
	.about-top-info {
        margin-bottom: 8px;
    }
}/*max-width:1350px*/

@media screen and (max-width:1024px){

}/*max-width:1024px*/

@media screen and (max-width:1008px){
	
}/*max-width:1008px*/

@media screen and (max-width:952px){
    #about,
    #skills,
    #experience,
    #contact {
        display: flex;
    }
    .portfolio-items {
        flex-direction: column;
        align-items: center;
    }
    .portfolio-items .item {
        width: 100%;
    }
}/*max-width:952px*/

@media screen and (max-width:850px){
	.nav-bar-brand {
        margin-left: .5rem;
    }
    .hamburger {
        margin-right: .5rem;
    }
}/*max-width:850px*/

@media screen and (max-width:768px){
    
}/*max-width:768px*/

@media screen and (max-width:767px){
	
}/*max-width:767px*/

@media screen and (max-width: 660px){

}/*max-width:660px*/

@media screen and (max-width: 640px){

}/*max-width:640px*/

@media screen and (max-width: 580px){
    .header-text {
        text-align: center;
    }
}/*max-width:580px*/

@media screen and (max-width: 480px){
	
}/*max-width:480px*/

@media screen and (max-width: 440px){
	
}/*max-width:400px*/

@media screen and (max-width:350px){

}/*max-width:350px*/

@media screen and  (max-width: 320px){
	
}/*max-width:320px*/

